.bg-list-item+.list-group-item, .bg-list-item:first-child, .bg-list-item:last-child {
    background-color: var(--bs-dark-20);
    backdrop-filter: blur(12px);
    border: 2px solid var(--bs-dark-60);
    border-radius: 16px;
    padding: 12px 24px;
}

.bg-list-item:hover {
    border-color: var(--bs-light-60);
}